@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    /* --white: #f9f9f9; */
    --white:#749AB9;
    --black: #EDECED;
    --gray: #85888C;
} /* variables*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: var(--white); */
    background-color: #EDECED;

    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.ban{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#bann{
    width: 100%;
}

.feat{
    background-color:white;
    height: 1000px;
}
.f_head{
    display: flex;
    justify-content: center;
    color: #5C6786;
    font-size:  30px;
}
.w_head{
    display: flex;
    justify-content: center;
    color: #5C6786;
    font-size:  30px;
    /* height: 600px; */
}
.video{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.work{
    height: 800px;

}
.cont{
    background-color: white;
    width: 100%;
}
.c_head{
    display: flex;
    justify-content: center;
    /* color: #5C6786; */
    font-size:  30px;
    /* height: 600px; */
}
.para{
    display: flex;
    justify-content: center;
}
.form{
    width:100%;
    background-color: white;
    /* display: flex;
    justify-content: center; */
}

.int{
    /* border-radius: 2%; */
    /* align-items: center; */
    margin-top: 1%;
    padding: 2px;
    margin-left: 10%;
    width: 80%;
}
.btn{
    margin-top: 1%;
    margin-left: 15%;
    background-color: #E99D35;
    color: white;
    width: 12%;
    padding: 10px;
    border:none
}
.footer{
    width: 100%;
  
}
.foot_head{
    display: flex;
    justify-content: center;
    font-size:  30px;
}
.sub{
    width: 90%;
    /* background-color: #749AB9; */
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 7%;
}
.one{
    height: 15%;
    width: 40%;
}
.news_logo{
    /* background-color: #5C6786; */
    height: 40%;
    width: 10%;
}
.sub_input{
    height: 100%;
    width: 40%;
}
.sub_btn{
    background-color: #E99D35;
    color: white;
    width: 30%;
    /* padding: 10px; */
    height: 100%;
    border:none
}
/* Header */
.header{
    background-color: var(--black);
    /* box-shadow: 1px 1px 5px 0px var(--gray); */
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
}
/* Logo */
.logo{
    margin-left: 20%;
    display: inline-block;
    color: var(--white);
    /* font-size: 60px; */
    width: 60px;
    margin-left: 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    /* background-color: var(--black); */
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.grid-container {
    
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 8px;
  }
  .grid-item {
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 70px;
    /* font-size: 30px; */
    text-align: center;
  }
  .f_1{
    display: block;
    justify-content: center;
    margin-left: 20%;

    height: 150px;
    width: 150px; 
    background-color: #CFC7C6;
    border-radius: 50%;
  }
  
  .pos{
    transition: transform .2s;
    margin-top: 17%;
    height: 40%;
  }
  .pos:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  #p{
    transition: transform .2s;
    margin-top: 17%;
    height: 60%;
  }
  #p:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .po{
    transition: transform .7s ease-in-out;
    margin-top: 17%;
    height: 55%;
  }
  .po:hover {
    transform: rotate(360deg); /* (150% zoom - Noe viewport) */
  }

/* recipies page */
.recipes{
    width: 100%;
    /* height: 500px; */
    background-color: white;
}
.r_head{
    font-size:  35px;
    /* height: 600px; */
    background-color:lightgray;
    height: 20%;
}
.search{
    display: flex;
    /* justify-content: cenetr; */
    width: 100%;
    height: 15%;
    background-color: lightgray;
}
.s_input{
    width: 70%;
    height: 40%;
}
.s_btn{
    background-color: #5C6786;
    color: white;
    width: 10%;
    height: 40%;
}
/* making card */
/* #card_1{
    display: inline-block;

} */
#card_1{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin-top: 2%;
    margin-left: 10%;
    background-color: white;
    box-shadow: 0 0 10px 5px black;
    width: 20%;
    height: 50%;
}
.card:hover{
    transform: scale(1.1);
}
.img1{
    width: 100%;
    height: 50%;
}
.bt{
    color: white;
    margin-top: 5%;
    margin-left: 10%;
    background-color: green;
    width: 60%;
    height:30px;
}


/* Submit\ */
.dis{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: 200px;
    /* background-color: pink; */
    margin: auto ;
}

/* information */
.recipes_info{
    /* background-color: #749AB9; */
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center; */
}
.name{
    font-size: 40px;
    display: flex;
    justify-content: center;
    /* background-color: #5C6786; */
    width:100%;
    height: 7%;
}
.imag{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    /* background-color: #5C6786; */
    width:100%;
    height: 35%;
}
.detail{
    margin-top: 1%;
    /* background-color: #5C6786; */
}
.d{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: #CFC7C6; */
}

/* .ing{
    background-color:#5C6786;
} */

.ins_video{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
    /* .ban{
        max-width: fit-content;
    } */
}